#game-grid {
  display: grid;
}

.gameSquare {
  box-sizing: border-box;
  border: 1px solid;
  border-color: gray;
}

.zero_percent {
  background-color: rgba(0 0 0 / 0%);
}

.ten_percent {
  background-color: rgba(0 0 0 / 10%);
}

.twenty_percent {
  background-color: rgba(0 0 0 / 20%);
}

.thirty_percent {
  background-color: rgba(0 0 0 / 30%);
}

.fourty_percent {
  background-color: rgba(0 0 0 / 40%);
}

.fifty_percent {
  background-color: rgba(0 0 0 / 50%);
}

.sixty_percent {
  background-color: rgba(0 0 0 / 60%);
}

.seventy_percent {
  background-color: rgba(0 0 0 / 70%);
}

.eighty_percent {
  background-color: rgba(0 0 0 / 80%);
}

.ninety_percent {
  background-color: rgba(0 0 0 / 90%);
}

.hundred_percent {
  background-color: rgba(0 0 0 / 100%);
}
