html {
  background: linear-gradient(#80ffdb, #5e60ce);
  font-family: "VT323", monospace;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  display: grid;
  border: solid 2px;
  border-color: #6930c3;
  margin: 20px;
  background-color: white;
}

#menu {
  display: flex;
  flex-direction: row;
}

.text {
  font-family: "VT323", monospace;
  color: #7400b8;
}

.subtext {
  text-align: center;
  font-size: 20px;
}

.option {
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: #56cfe1;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  height: 50px;
  font-size: 18px;
}

h1 {
  font-size: 64px;
}

.option:hover {
  box-shadow: 0px 0px 10px #5b2b01;
}

.gridSquare {
  box-sizing: border-box;
}

.zero_percent {
  opacity: 0%;
}

.ten_percent {
  opacity: 10%;
}

.twenty_percent {
  opacity: 20%;
}

.thirty_percent {
  opacity: 30%;
}

.fourty_percent {
  opacity: 40%;
}

.fifty_percent {
  opacity: 50%;
}

.sixty_percent {
  opacity: 60%;
}

.seventy_percent {
  opacity: 70%;
}

.eighty_percent {
  opacity: 80%;
}

.ninety_percent {
  opacity: 90%;
}

.hundred_percent {
  opacity: 100%;
}
